#dropzone {
  	border: 2px dashed #bbb;
  	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-radius: 5px;
  	padding: 25px;
  	text-align: centre;
  	font: 12pt bold 'Vollkorn';
  	color: #bbb;
  	min-height: 500px;
}

#resultConverstionTxt {
  	text-align: centre;
  	font: 12 bold 'Vollkorn';
  	font-size: 12pt;
  	color: #000;
}

.container{
	width:790px;
	top: 20%;
	position: absolute;
  	left: 20%;
  	vertical-align:middle; 
}

#dropzone_text {
  	text-align: centre;
  	font: 26pt bold 'Vollkorn';
  	font-size: 26pt;
  	color: #bbb;
  	position:absolute; 
  	top:50%;
  	left:20%;
}