#dropzone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: centre;
  font: 12pt bold 'Vollkorn';
  color: #bbb;
}

.container{
	width:790px;
	top: 20%;
	position: absolute;
  	left: 20%;
  	vertical-align:middle; 
}